input[type=password]::-ms-reveal {
  display: none !important;
}
.large{width: 15px;height: 15px;}.centered {text-align: center}.hidden {display: none;}.nopadding {padding: 0;}.nomargin {margin: 0;}.bold{font-weight: 600;}.displayNone{display: none;}.displayBlock{display:block;}
.item {
  margin: 0.6vw 1.2vw;
  flex: 1;
}
.leftered {
  text-align: left;
}

.insideShadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.softShadow {
  -moz-box-shadow:    1.5px 1.5px 2.5px 3px #77dd77;
  -webkit-box-shadow: 1.5px 1.5px 2.5px 3px #77dd77;
  box-shadow:         1.5px 1.5px 2.5px 3px #77dd77;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

[title] {
  font-family: 'Patrick Hand', cursive !important;
}

[announcement] {
  font-family: 'Crimson Text', serif !important;
  font-weight: 900 !important;
}

[homePageHeader] {
  align-self: center;
  padding: 0;
}

.font-brush {font-family: Brush Script MT,cursive !important;}
h1 {font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif !important;letter-spacing: 3px;}
h2, h3, h4 {font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif !important;}


.softShadow {
  -moz-box-shadow:    1.5px 1.5px 2.5px 3px #77dd77;
  -webkit-box-shadow: 1.5px 1.5px 2.5px 3px #77dd77;
  box-shadow:         1.5px 1.5px 2.5px 3px #77dd77;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.dropShadow {
  filter:drop-shadow(8px 8px 10px gray);
}


.grid {display: grid;}
.flex {display: flex;} .rowrap {flex-flow: row wrap;} .row-nowrap {flex-flow: row nowrap;} .spacebetween {justify-content: space-between;}
.noBackground {background: none; box-shadow: none}
.headerBackground {background: #32cd32} .headerSemiOvalBackground {border-radius: 0px 0px 50% 50%;}
.bordaArtigos {border-radius: 10px; padding: 10px;} .artigosBackground {background:#57ca85}
/*page1*/
.backgroundPage1 {
  background-image: url('../images/half-fatGreen.jpg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  height: 100vh;
  z-index: 6
}

/* page 2 */
.templateArtigos {text-align: center; display: grid;grid-template-columns: 0.5fr 2fr 0.5fr; align-items: center; background-color: #2f2f33}
.dropdownPosition {z-index: 1000; margin-left: calc(50vw - 50px); margin-top: 5px}
.templateHeaderPage2 {justify-items: center; grid-template-columns: 1fr 1fr 1fr; padding: 10px;}
.headerPage2Fixed {position: fixed; z-index: 1001}
.tamanhoFitOpt {height: 12vh; justify-content: center;}
.posicaoFechar {position: fixed; top:calc(10vh); left: calc((12vh/100)*235); z-index: 1001}
.tabbar { position: fixed !important; }
.menu-page2 {background-color: transparent;position: fixed; bottom: 50px; right: 0px;}
.bannerDiv {z-index: 1000;}

@media (min-width: 1025px) /*maior do que o Ipad Pro */ {
  /*page2*/
  .banners {width: 40vw; border-radius: 5px; margin: 0 30vw 20px 30vw; padding: 0; z-index:0;}
  .menu-page2 {width: 25vw; text-align: center;}
}
@media (max-width: 767px) /*smarthphone/tablet*/ {
  /*page2*/
  .banners {width: 80vw; border-radius: 5px; margin: 0 10vw 20px 10vw; padding: 0; z-index:0;}
  /*page1*/
  [btnPage1] {
    width: 60vw
  }
}
@media (min-width: 768px) /*iPad e iPad Pro*/{
  /*page2*/
  .banners {width: 60vw; border-radius: 5px; margin: 0 20vw 20px 20vw; padding: 0; z-index:0;}
  .menu-page2 {width: 25vw; text-align: center;}
  /*page1*/
  [btnPage1] {
    margin-top: 5px; /*só se aplica ao botão de baixo*/
    width: 35vw;
    padding: 5px;
    font-size: 1.4em;
  }
}
[indent] {text-indent: 5px}

/* botoes span page 2 */

.w3-text-white{color:white;}
.backgroundTransp {background-color:white}
.green{color:#32cd32;background-color:#32cd32}
.bannerSpans{height: 22px; width: 22px;}
.badge {border-radius: 50%;}
.bannerSpan{display: grid; justify-content: center; grid-template-columns: 22px 22px 22px; grid-column-gap: 6px}
.w3-border{border:1px solid #ccc}

/*exercicios */

[overlay] {z-index: 2;}
.headerExerc {grid-template-columns: 32px 1fr 32px; grid-template-rows: auto 0px 0px 0px}
.xyCentered {justify-self: center; align-self: center}
.xStartyCenter {justify-self: start; align-self: center}
.infoExerc {height: 4vh; float: right; margin: 10vw 3vw; z-index: 2}
.tutorialExerc {position: absolute; top: 30%; background: #fff; border: 2px solid #001; text-align: center}
.btnTip {position: absolute;margin-top: calc(20vw + 5px);}
.btnPersonalizado { border-radius: 10px; background: #008000; padding: 10px; font-size: 1.2em !important; font-weight: 800; color: #fff; left: 50%}
.centralizacaoHorizontal {-webkit-transform: translateX(-50%); transform: translateX(-50%)}
.obsborder{border-radius: 6px;padding: 3px;}
.backgroundGreen {background-color: #04B45F;}

/*popover */
.btnPopover {
  border-top: 1px solid #008000;
  border-bottom: none;
  border-right: none;
  border-left: none;
  width: 100%;
  background-color: transparent;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
} 
.popoverDiv {
  text-align: center; padding: 20px;
}
.popover { top: 50% !important;
        left: 50% !important;
        margin-right: -50% !important;
        transform: translate(-50%, -50%) } !important}
.popoverTag{
  position: absolute;
}
/* placeholder */

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}